<div class="jumbotron marketing">
  <p class="lead">
    Analyzing the tone of famous quotes using the 
    <a href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/tone-analyzer.html" target="_blank">
      IBM Watson Tone Analyzer Service
    </a>
  </p>
  <p class="lead">Want to add quotes? Send me a <a href="http://github.com/jstrassburg/quote-tone" target="_blank">pull request.</a></p>
</div>

<div class="row marketing">
  <container>
    <blockquote>
      <p>Finally, let understand that when we stand together, we will always win. When men and women stand together for justice, we win. When black, white and Hispanic people stand together for justice, we win.</p>
      <footer>Bernie Sanders</footer>
    </blockquote>
  </container>
  <div class="col-md-4">
    <h5>Emotional Tone</h5>
    <canvas id="radar" class="chart chart-radar" chart-data="emotionalData" chart-labels="emotionalLables">
    </canvas> 
  </div>
  <div class="col-md-4">
    <h5>Writing Tone</h5>
    <canvas id="radar" class="chart chart-radar" chart-data="writingData" chart-labels="writingLables">
    </canvas> 
  </div>
  <div class="col-md-4">
    <h5>Social Tone</h5>
    <canvas id="radar" class="chart chart-radar" chart-data="socialData" chart-labels="socialLables">
    </canvas> 
  </div>
</div>
