<div class="jumbotron">
  <p class="lead">
    Analyzing the tone of famous quotes using the 
    <a href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/tone-analyzer.html">
      IBM Watson Tone Analyzer Service
    </a>
  </p>
</div>

<div class="row">
  <container>
    <blockquote>
      <p>Here is a thing that happened...</p>
      <footer>Someone</footer>
    </blockquote>
  </container>
  <div class="col-md-4">
    <h5>Emotional Tone</h5>
    <canvas id="radar" class="chart chart-radar" chart-data="emotionalData" chart-labels="emotionalLables">
    </canvas> 
  </div>
  <div class="col-md-4">
    <h5>Writing Tone</h5>
    <canvas id="radar" class="chart chart-radar" chart-data="writingData" chart-labels="writingLables">
    </canvas> 
  </div>
  <div class="col-md-4">
    <h5>Social Tone</h5>
    <canvas id="radar" class="chart chart-radar" chart-data="socialData" chart-labels="socialLables">
    </canvas> 
  </div>
</div>
